/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.mb-20 {
    margin-bottom: 20px;
} 


.left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
.header-top {
    /* height: 100px; da rimuovere */ 
}

#logo{
    height: 60px;
    padding-right: 15px;
    border-right: 1px solid #f3f3f3;
}

#navigatore{
    height: 40px;
    line-height: 40px;
    
}
    
   

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #b5b5b5;   
}

ul{
    list-style: none;
    
}

li{
    display: inline-block;
    margin-right: 5px;
    
}


/* main */
main {
    padding-bottom: 20px;
}
.col-sn,
.col-dx {
    width: 25%;
}

.main-content {
    width: 46%;
    margin: 0 2%;
}


/* footer */

footer {
    height: 90px;
    margin-top: 10px;
}


/* ***** debug **** */

.debug main {
    background-color: #0085ff
}
.debug footer {
    background-color: #8801fe
}

.debug .header-top {
    /* background-color: #e579e6 */
}

.debug .jumbo {
    height: 450px;
    background-color: #e1d67a
}

.debug .title {
    height: 70px;
    background-color: #abcfe7
}

.debug .col-sn, 
.debug .main-content, 
.debug .col-dx {
    height: 450px;
    background-color: #abcfe7
}




