/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.mb-20 {
    margin-bottom: 20px;
} 


.left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
.header-top {
    /* height: 100px; da rimuovere */ 
}

#logo{
    height: 60px;
    padding-right: 15px;
    border-right: 1px solid #f3f3f3;
}

/* barra di navigazione */

#navigatore{
    height: 40px;
    line-height: 40px;
    
}
    
   

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #b5b5b5;   
}

ul{
    list-style: none;
    
}

li{
    display: inline-block;
    margin-right: 5px;
    
}

/* /barra di navigazione  */

/* sezione jumbo  */

.jumbo{
    border-radius: 10px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.title-jumbo{
    width: 60%;
    padding-top: 265px;
    margin-left: 35px;
}

.title-jumbo h2{
    color: white;
    font-size: 39px;
}

.little-text{
    color: white;
    font-size: 13px;
}

/* fine sezione jumbo  */


/* main */
main {
    padding-bottom: 20px;
}

/* sezione slogan */

.title h1{
    font-weight: 500;
}

.subtitle{
    color: #aaaaaa;
}

/* fine sezione slogan */

.img-sn{
    height: 230px;
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
}

.col-sn,
.col-dx {
    width: 25%;
}

.main-content {
    width: 46%;
    margin: 0 2%;
}


/* footer */

footer {
    height: 90px;
    margin-top: 10px;
}


/* ***** debug **** */

.debug main {
    background-color: #0085ff
}
.debug footer {
    background-color: #8801fe
}

.debug .header-top {
    /* background-color: #e579e6 */
}

.debug .jumbo {
    height: 450px;
    
}

.debug .title {
    height: 70px;
    /* background-color: #abcfe7 */
}

.debug .col-sn, 
.debug .main-content, 
.debug .col-dx {
    height: 450px;
    background-color: #abcfe7
}




